body{
    background: #000000;
}
#box{
    width:336px;
    padding: 0;
    list-style: none;
    position: relative;
    margin:150px auto;
}
#box:hover{
    height:auto;
}
@keyframes nameS {
    0%{
        border-width:5px ;
        transform: rotate(0deg);
    }
    50%{
        border-width:20px ;

    }
    100%{
        border-width:5px ;
        transform: rotate(360deg);
    }
}
li{
    position: absolute;
    width:400px;
    height:400px;
    margin:0 auto;
    border:5px solid #00ff96;
    text-align: center;
    line-height:400px;
    margin: 0 auto;
    color: #000;
    border-radius: 20px;
    animation:nameS 2s infinite linear;
}
